@import "../../styles/variables.scss";

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 103px;
    transform: scale(0);
    z-index: 2;

    .editInvoice {
        position: relative;
        background-color: white;
        border-radius: 0px 20px 20px 0px;
        width: 616px;
        height: 100vh;
        padding-left: 56px;
        padding-right: 32px;
        padding-top: 56px;

        .number {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -0.5px;
            color: $color-dark-3;
            margin-bottom: 48px;

            .prefix {
                color: $color-grey-dark;
            }
        }

        .input30 {
            width: 30%;
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: space-between;
            flex-direction: column;
        }

        .input50 {
            width: 50%;
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: space-between;
            flex-direction: column;
        }

        .caption {
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: -0.25px;
            color: $color-violet-dark;
            margin-bottom: 24px;
            text-align: left;
        }

        .wrapper_input {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: space-between;
            flex-direction: column;
            margin-bottom: 24px;
        }

        .city_code_country {
            display: flex;
            flex-wrap: nowrap;
            align-items: stretch;
            justify-content: space-between;
            gap: 24px;
            margin-bottom: 48px;
        }

        .form {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            overflow-y: auto;
            padding-right: 24px;
            height: calc(100% - 190px);

            .bill_from,
            .bill_to {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
            }

            .bill_to {
                .date_payment {
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: stretch;
                    justify-content: space-between;
                    gap: 24px;
                    margin-bottom: 24px;
                }
                margin-bottom: 32px;
            }

            .itemList {
                .captionItemList {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 32px;
                    letter-spacing: -0.375px;
                    color: #777f98;
                    padding-bottom: 16px;
                }
                .table {
                    padding-bottom: 18px;
                }
            }
        }

        .commands {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;
            height: 110px;
            padding-right: 65px;
        }

        .commandsNew {
            width: 100%;
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 110px;
            padding-right: 65px;
            padding-left: 60px;
            .save {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 8px;
                height: 110px;
            }
        }
    }

    &_dark_mode {
        .editInvoice {
            background-color: #141625;
            border-radius: 0px 20px 20px 0px;

            .number {
                color: white;

                .prefix {
                    color: $color-grey-dark;
                }
            }
        }
    }
}

.active {
    transform: scale(1);
}

@import "./EditInvoice_tablet.module.scss";
