@import "../../styles/variables.scss";

.itemRow {
    margin-bottom: 48px;
    .wrapper_input {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 24px;
    }
    .input30 {
        width: 28%;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: column;
    }
    .input40 {
        width: 36%;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: column;
    }
    .qtyPriceTotal {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        .qtyPrice {
            width: 90%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;

            .total {
                input {
                    border: none;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
        .rightPart {
            width: 10%;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            .trash {
                background-image: url("../../assets/trash.svg");
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                transition: 0.2s all;
                width: 14px;
                height: 16px;
                margin-top: 20px;
            }
        }
    }
}
