@import "../../styles/variables.scss";

a {
    text-decoration: none;
}

.editInvoice {
    margin-top: 104px;
    margin-left: 24px;
    margin-right: 24px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;

    .details {
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
        border-radius: 8px;
        padding: 24px;
        margin-bottom: 56px;

        .head {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 21px;
            gap: 30px;

            .left_part {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;

                
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: -0.25px;

                color: $color-violet-light;

                .number {
                    
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.8px;
                    color: black;

                    span {
                        color: $color-grey-dark;
                    }
                }
            }

            .right_part {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1px;

                
                font-weight: 500;
                font-size: 11px;
                line-height: 18px;
                text-align: right;
                letter-spacing: -0.229167px;
                color: $color-violet-light;
            }
        }

        .info {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
            gap: 43px;
            margin-bottom: 45px;

            .first_part {
                white-space: nowrap;
                .invoice_date {
                    .invoice_date_caption {
                        margin-bottom: 12px;
                    }
                    margin-bottom: 32px;
                }
                .payment_due {
                    .payment_due_caption {
                        margin-bottom: 12px;
                    }
                }
            }

            .middle_part {
                white-space: nowrap;
                .bill_to_caption {
                    margin-bottom: 12px;
                }
                .bill_to {
                    margin-bottom: 8px;
                }
                .bill_adress {
                    
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 18px;
                    letter-spacing: -0.229167px;
                    color: $color-violet-light;
                }
            }

            .finally_part {
                .sent_to_caption {
                    margin-bottom: 12px;
                }
            }

            .caption {
                
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: -0.25px;
                color: $color-violet-light;
            }

            .fields {
                
                font-weight: 700;
                font-size: 15px;
                line-height: 20px;
                letter-spacing: -0.3125px;
                color: $color-dark-3;
            }
        }

        .list_of_services {
            display: flex;
            flex-direction: column;
            gap: 24px;
            background: #f9fafe;
            border-radius: 8px 8px 0px 0px;
            padding: 24px;

            .service {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .left_part {
                    .name {
                        margin-bottom: 8px;
                        
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: -0.25px;
                        color: $color-dark-3;
                    }
                    .count {
                        
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: -0.25px;
                        color: $color-violet-light;
                    }
                }
                .right_part {
                    
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    text-align: right;
                    letter-spacing: -0.25px;
                    color: $color-dark-3;
                }
            }
        }

        .foot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 32px;
            padding-right: 32px;
            height: 80px;
            background: #373b53;
            border-radius: 0px 0px 8px 8px;
            color: white;

            .ammount {
                
                font-weight: 500;
                font-size: 11px;
                line-height: 18px;
                letter-spacing: -0.229167px;
            }

            .sum {
                
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
                text-align: right;
                letter-spacing: -0.5px;
            }
        }
    }

    &_dark_mode {
        .details {
            background-color: $color-dark-1;
            box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);

            .head {
                .left_part {
                    color: $color-grey-medium;

                    .number {
                        color: white;

                        span {
                            color: $color-grey-medium;
                        }
                    }
                }

                .right_part {
                    color: $color-grey-medium;
                }
            }

            .info {
                .middle_part {
                    .bill_adress {
                        color: $color-grey-medium;
                    }
                }

                .caption {
                    color: $color-grey-medium;
                }

                .fields {
                    color: white;
                }
            }

            .list_of_services {
                background: #252945;
                color: white;

                .service {
                    .left_part {
                        .name {
                            color: white;
                        }
                        .count {
                            color: $color-grey-dark;
                        }
                    }
                    .right_part {
                        color: white;
                    }
                }
            }

            .foot {
                background-color: $color-dark-3;
            }
        }
    }
}
