@import "./variables.scss";

.App {
  margin: 0 auto;
  max-width: 730px;
}

@media screen and (max-width: $tablet-screen-trigger) {
  .App {
    max-width: 672px;
  }
}

@media screen and (max-width: $mobile-screen-trigger) {
  .App {
    max-width: 375px;
  }
}
