@import "../../styles/variables.scss";

@media screen and (max-width: $mobile-screen-trigger) {
    .invoiceline {
        min-height: 134px;

        padding-left: 24px;
        padding-right: 24px;

        .left_block {
            gap: 0;
            flex-direction: column;
            align-items: flex-start;

            .number {
                padding-bottom: 24px;
            }

            .date {
                padding-bottom: 8px;
            }

            .sum {
                
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.8px;
                color: #0c0e16;
            }
        }

        .right_block {
            gap: 27px;
            flex-direction: column;
            align-items: flex-end;

            .customer {
                
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: -0.25px;
                color: #858bb2;
            }

            .chip_and_row {
                gap: 0;

                .row {
                    display: none;
                }
            }
        }
    }
}
